# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#kidff3 ignore
*.orig

#maven ignore
target/

#eclipse ignore
.settings/
.classpatch

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

#temp 临时文件
*.log
*.cache
*.diff
*.patch
*.tmp

#system 系统文件忽略
.DS_Store
Thumbs.db
